<header class="topnav">
	<h1><a href="/">THISTHAT!</a></h1>
	<nav>
		<% if (typeof user === 'undefined') { %>
		<a class="<%if (typeof page !== 'undefined' &&
			page === 'login') {%>active<%}%>" href="/login">Login</a>
		<a class="<%if (typeof page !== 'undefined' &&
			page === 'signup') {%>active<%}%>" href="/signup">Sign up</a>
		<% } else { %>
		<a href="/logout">Log out</a>
		<% } %>
	</nav>
</header>
