<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
<p>Profile is working! You are user <%- JSON.stringify(user) %></p>
</body>
</html>
